@if (!country) {
  <div class="d-flex justify-content-center">
  <img
    class="img-fluid"
    src="assets/svg/loader.svg"
    alt="spinner"
    height="100"
    width="100"
  >
</div>
} @else {
  <div class="row">
    <div class="col-12">
      <h2>Country: <strong>{{ country.name.common }}</strong></h2>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <h3>Flag</h3>
      <img [src]="country.flags.svg" [alt]="country.name.common" class="img-thumbnail">
    </div>

    <div class="col">
      <h3>Info</h3>
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Population:</strong> {{ country.population | number}}
        </li>
        <li class="list-group-item">
          <strong>Code:</strong> {{ country.cca3}}
        </li>
      </ul>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      <h3>Translations</h3>
      <div class="d-flex flex-wrap">
        @for (translation of country.translations | keyvalue; track $index) {
          <span class="badge bg-primary m-1">{{translation.key | uppercase}}: {{translation.value['official']}}</span>
        }
      </div>
    </div>
  </div>
}

